.countries-container {
  box-sizing: border-box;
  display: grid;
  gap: 40px;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 280px));
  justify-content: center;
  list-style: none;
  margin: 0;
  max-width: 1440px;
  padding: var(--tb-padding) clamp(1rem, -0.23rem + 5.246vw, 6rem) 0 clamp(1rem, -0.23rem + 5.246vw, 6rem);
  width: 100%;
}

.countries-justify {
  display: flex;
  justify-content: center;
  width: 100%;
}
