.back-button {
  align-items: center;
  border: transparent;
  border-radius: 2px;
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
  display: flex;
  gap: 10px;
  padding: 10px 25px;
}

.back-button.dark-mode {
  background-color: var(--dark-blue-DM);
}

.back-button.light-mode {
  background-color: var(--very-Light-Gray);
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.1);
  color: var(--very-dark-blue)
}

.back-button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.back-button.dark-mode > a {
  color: var(--white)
}

.back-button.light-mode > a {
  color: var(--very-dark-blue);
}

.country-modal-card {
  display: grid;
}

.country-modal-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px calc(var(--lr-padding) + 10px );
  width: 100%;
}

.country-modal-container.dark-mode {
  background-color: var(--very-dark-blue-DM);
  color: var(--very-Light-Gray);
}

.country-modal-container.light-mode {
  color: var(--very-dark-blue);
}

.country-modal-flag {
  box-sizing: border-box;
  padding: 0 calc(var(--lr-padding) + 10px );
  width: 100%;
}

.country-modal-flag > img {
  border-radius: 5px;
  max-height: 250px;
  object-fit: contain;
  width: 100%;
}

.country-modal-container ul {
  padding: 0;
}

.country-modal-container ul li{
  list-style: none;
}





.country-name {
  font-size: 24px;
  font-weight: 900;
}

.link-back-button {
  display: block;
  margin: 40px calc(var(--lr-padding) + 10px );
  width: min-content;
}

@media (min-width: 550px) {
  .country-modal-card {
    grid-template-columns: 1fr 1fr;
    gap: clamp(1.25rem, -0.714rem + 5.238vw, 4rem);
  }

  .country-modal-container {
    padding-top: 0;
    padding-left: 0;
    align-self: center;
  }

  .country-modal-flag {
    align-self: center;
    justify-self: center;
    padding-right: 0;
  }

  .country-modal-flag > img {
    max-height: 400px;
  }

  .country-name {
    margin-top: 0;
  }
}
