.dark-mode {
  background-color: var(--dark-blue-DM);
  color: var(--very-Light-Gray);
}

.light-mode {
  background-color: var(--very-Light-Gray);
  color: var(--dark-greay);
}


.search-country {
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.1);
  display: flex;
  gap: 0;
}

.search-country.dark-mode > * {
  background-color: var(--dark-blue-DM);
  border: transparent;
  color: var(--very-Light-Gray);
}

.search-country.light-mode > * {
  background-color: var(--white);
  border: transparent;
  color: var(--dark-greay);
}

.search-country button {
  border-radius: 5px 0 0 5px;
  padding-left: 30px;
}

.search-country button.light-mode {
  border-right: transparent;
}

.search-country input {
  border-radius: 0 5px 5px 0;
  margin: 0;
  padding: 20px 0 20px 15px;
  width: 100%;
}

.search-country input.light-mode {
  border-left: transparent;
}

.search-country input.light-mode > *{
  border: transparent;
}

.dark-mode ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--very-Light-Gray);
  opacity: 0.9; /* Firefox */
}

.light-mode ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-greay);
  opacity: 0.9; /* Firefox */
}
