.dark-mode {
  background-color: var(--dark-blue-DM);
  color: var(--very-Light-Gray);
}

.light-mode {
  background-color: var(--very-Light-Gray);
  color: var(--dark-greay);
}

.form-filter-search {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: var(--lr-padding);
}
