.dark-mode {
  background-color: var(--dark-blue-DM);
  color: var(--very-Light-Gray);
}

.light-mode {
  background-color: var(--very-Light-Gray);
  color: var(--dark-greay);
}

.form-filter-search {
  box-sizing: border-box;
  display: grid;
  gap: 40px;
  padding: 30px var(--lr-padding);
  width: 100%;
}

@media (min-width: 450px) {
  .form-filter-search {
    grid-template-columns: 1.5fr 1fr;
  }
}