.dark-mode {
  background-color: var(--dark-blue-DM);
  color: var(--very-Light-Gray);
}

.light-mode {
  background-color: var(--very-Light-Gray);
  color: var(--dark-greay);
}

.filter-by-region {
  border-color: transparent;
  border-radius: 5px;
  border-right-width: 20px;
  padding: 15px 0 15px 20px;
  width: 50%;
}

.form-filter-search {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: var(--lr-padding);
}

.form-filter-search input.light-mode {
  border-left: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--very-Light-Gray);
  opacity: 0.9; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--very-Light-Gray);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--very-Light-Gray);
}

.search-country {
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.1);
  display: flex;
  gap: 0;
}

.search-country.dark-mode > * {
  background-color: var(--dark-blue-DM);
  color: var(--very-Light-Gray);
  border: transparent;
}

.search-country.light-mode > * {
  background-color: var(--white);
  border-color: transparent;
  color: var(--dark-greay);
}

.search-country button {
  border-radius: 5px 0 0 5px;
  padding-left: 30px;
}

.search-country button.light-mode {
  border-right: transparent;
}

.search-country input {
  border-radius: 0 5px 5px 0;
  margin: 0;
  padding: 20px 0 20px 15px;
  width: 100%;
}
