.header {
  align-items: center;
  background-color: var(--dark-blue-DM);
  color: var(--very-Light-Gray);
  display: flex;
  font-size: 10px !important;
  justify-content: space-between;
  padding: var(--tb-padding) var(--lr-padding);
}

.header-dark-mode {
  background-color: var(--dark-blue-DM);
  color: var(--very-Light-Gray);
}

.header-light-mode {
  background-color: var(--white);
  color: var(--very-dark-blue);
}

.toggle-dark-light-mode {
  align-items: center;
  background-color: inherit;
  border: transparent;
  display: flex;
  gap: 10px;
}

.toggle-dark-light-mode {
  cursor: pointer;
}

.toggle-dark-light-mode p {
  font-size: 14px;
  font-weight: 600;
}

.header-dark-mode .toggle-dark-light-mode p {
  color: var(--very-Light-Gray);
}

.header-light-mode .toggle-dark-light-mode p {
  color: var(--very-dark-blue);
}