.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}

.App-Dark {
  background-color: var(--very-dark-blue-DM);
}

.App-Light {
  background-color: var(--very-Light-Gray);
}

main {
  position: relative;
}

.App main {
  flex-grow: 1;
}